@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

html,
body {
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

div.flexbox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div.textbox {
  vertical-align: middle;
  line-height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
}

@media (max-width: 670px) {
  div.flexbox#three {
    height: auto;
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five"
      "six"
      "seven"
      "eight"
      "nine";
  }
}

iframe {
  border-radius: 5%;
  overflow: hidden;
}
.one{
  grid-area: one;
}
.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  vertical-align: middle;
  font-family: "Indie Flower", cursive;
}

::-webkit-scrollbar {
  display: none;
}
